section.main-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 16.5rem;
    column-gap: 3rem;
    row-gap: 6.5rem;
    margin-top: 14.5rem;
    margin-bottom: 8rem;
}

@media screen and (max-width: 1200px) {
    section.main-container {
        grid-template-columns: repeat(2, 1fr);
        padding-inline: 4rem;

    }
}

@media screen and (max-width: 768px) {
    section.main-container {
        grid-template-columns: repeat(1, 1fr);
        padding-inline: 2.4rem;

    }
}