.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    background-color: var(--white);
    border-radius: 0.5rem;
    padding-inline: 3rem;
    height: 25rem;
    text-align: start;
    /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); */
}

.main-logo {
    position: absolute;
    top: -2.5rem;
    left: 3.2rem;
    width: 5rem;
    height: 5rem;
    border-radius: 15px;
    padding: .2rem;
}

p.grey {
    color: #6E8098;
}

p.time {
    margin-top: 3rem;
}

p.time span {
    font-weight: 700;
    font-size: 3rem;
}

.link {
    color: #000;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: start;
}

h2.position {
    font-size: 2rem;
}


p.location {
    color: var(--violet);
    font-weight: 700;
    margin-block: 3.6rem 2rem;
}