.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 0.5rem;
    padding-inline: 3rem;
    height: 25rem;
    text-align: start;
}

.card.dark {
    background-color: var(--dark-blue);
}

.card h2 {
    color: var(--dark-blue);
}

.card.dark h2 {
    color: var(--white);
}

.main-logo {
    position: absolute;
    top: -2.5rem;
    left: 3.2rem;
    width: 5rem;
    height: 5rem;
    border-radius: 15px;
    padding: .2rem;
}

p.grey {
    color: #6E8098;
}

p.time {
    margin-top: 3rem;
}

p.time span {
    font-weight: 700;
    font-size: 3rem;
}

.link {
    text-decoration: none;
}

h2.position {
    font-size: 2rem;
}


p.location {
    color: var(--violet);
    font-weight: 700;
    margin-block: 3.6rem 2rem;
}