.main-searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 12rem;
    left: 50%;
    transform: translateX(-50%);
    /* width: 100%; */
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75vw;
    max-width: 110rem;
    height: 8rem;
    background-color: var(--white);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.searchbar li {
    width: 100%;
}

.searchbar input {
    width: 100%;
    padding-inline: 3rem;
}

.third-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.third-input input {
    width: 20%;
    height: 2rem;
}

