.searchbar {
    position: absolute;
    top: 12rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    padding-inline: 16.5rem;
}

.searchbar li {
    display: flex;
    align-items: center;
    height: 8rem;
    width: 100%;
    font-size: 1.6rem;
    background-color: var(--white);
}

.searchbar.dark li,
.searchbar.dark li input {
    background-color: var(--dark-blue);
    color: var(--white);
}

li.first-input {
    border-radius: 5px 0 0 5px;
}

li.first-input input {
    border: none;
    outline: none;
    color: #979797;
    width: 100%;
    height: 100%;
}

li.second-input {
    border-inline: .5px solid #6e809849;
}

li.second-input input{
    border: none;
    outline: none;
    color: #979797;
    width: 100%;
    height: 100%;
}

li.third-input {
    border-radius:0 5px 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 3rem 1.6rem;
    color: #000;
    font-weight: 700;
}

input[type="checkbox"] {
    cursor: pointer;
    margin: 0;
    width: 2.4rem;
    height: 2.4rem;
    color: #979797;
    position: relative;
    background-color: #979797;
}

/* 
input[type="checkbox"]::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2.4rem;
    height: 2.4rem;
    background-color: #979797;
} */

li.third-input label {
    user-select: none;
    margin-inline: 2rem auto;
}

.filter-icon {
    position: absolute;
    right: 11rem;
    top: 55%;
    transform: translateY(-50%);
}

@media screen and (max-width: 1366px) {
    .searchbar {
        padding-inline: 4rem;
    }
    li label {
        font-size: 1.4rem;
        margin-inline: 0;
    }
}

@media screen and (max-width: 769px) {
    .searchbar {
        top: 14rem;
        padding-inline: 2.4rem;
    }
    .searchbar li {
        height: 8rem;
        border-radius: 6px;
        overflow: hidden;
        padding-left: 2.4rem;
    }
    .mobile-btn {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 1.6rem;
        right: 4rem;
        border-radius: 6px;
    }
}