:root {
  --violet: #5964E0;
  --light-violet: #939BF4;
  --white: #fff;
  --light-grey: #F4F6F8;
  --gray: #9DAEC2;
  --dark-gray: #6E8098;
  --dark-blue: #19202D;
  --midnight: #121721;

  --main-font: 'Kumbh Sans', sans-serif;
}

html {
  overflow-x: hidden;
}

.App {
  min-height: 100vh;
  background-color: var(--light-grey);
}

body {
  font-family: var(--main-font);
  color: #000;
  background-color: #F4F6F8;
}

.App.dark {
  background-color: var(--midnight);
  color: var(--white);
}
