h2.admin-title {
    margin-top: 10rem;
    font-size: 3rem;
    text-transform: uppercase;
}


.form-selector {
    position: relative;
    height: 40rem;
    width: 40rem;
    background-image: linear-gradient(-35deg, #606ae1 0%, #5964e0 50%, #3e418e  100%);
    background-size: 200% auto;
    border-radius: 25px;
    margin: 10rem auto;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

.form-selector:hover {
    scale: 1.06;
    background-position: right center;
}


.form-selector span {
    display: block;
    position: absolute;
    top: 4rem;
    left: 4rem;
    text-align: start;
    font-size: 3rem;
    font-weight: 700;
    color: var(--white);
    text-transform: uppercase;
    transform: rotate(-30deg) translate(2rem, 0rem);
    transition: all 0.3s ease-out;
}

.form-selector:hover span {
    font-size: 3.4rem;
    top: 2rem;
    left: 2rem;
    transform: rotate(0deg) translate(1rem, 0);
}

.form-selector::after {
    content: '';
    position: absolute;
    right: -8rem;
    bottom: -10rem;
    width: 25rem;
    height: 25rem;
    background-image: url(../../assets/briefcase.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    rotate: -30deg;
    transition: all 0.3s ease-out;
}

.form-selector:hover::after {
    bottom: -1rem;
    right: 1rem;
}
